<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('common/head'); %>
</head>

<body class="container">
    <h2>Add new user:</h2>
    <div class="row">
        <form class="col-xs-12 col-md-6" action="/users" method="post">
            <fieldset>

                <label for="firstName">First name</label>
                <input type="text" name="firstName" id="firstName">
            </fieldset>
            <fieldset>

                <label for="lastName">Last name</label>
                <input type="text" name="lastName" id="lastName">
            </fieldset>
            <input type="submit" value="Add user">
        </form>
    </div>
    <a href="/users" class="return">Go back</a>
</body>

</html>