<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('common/head'); %>
</head>
<body class="container">
    <h2>Update user:</h2>
    <div class="row">
        <form class="col-xs-12 col-md-6" action="/users/<%= idx %>" method="post">
            <input type="hidden" name="_method" value="PUT">
            <label for="firstName">Name:</label>
            <input type="text" name="firstName" id="firstName" value="<%= user.firstName %>">
            <label for="lastName">Age:</label>
            <input type="text" name="lastName" id="lastName" value="<%= user.lastName %>">
            <input type="submit" value="Update user">
        </form>
    </div>
</body>
</html>