<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('common/head'); %>
</head>
<body class="container">
    <div class="">
        <h1>User:</h1>
        <h2>first name: <%= user.firstName %></h2>
        <h2>last name: <%= user.lastName %></h2>
    </div>
    <div class="row col-xs-12 col-md-6">

        <form action="/users/<%= user._id %>" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <button type="submit">Delete user</button>
        </form>
        <button class="navigate"><a href="/users/<%= user._id %>/update">Update user</a></button>
    </div>
    
    <a href="/users" class="return">Go back</a>
</body>
</html>