<!DOCTYPE html>
<html lang="fr">
<head>
    <%- include('common/head'); %>
    <title>Users</title>
</head>
<body class="container">
    <h1>Users:</h1>
    <ul>
        <% for(const [idx,user] of users.entries()) { %>
            <li><a href="/users/<%= idx %>"><%= user.firstName + " " + user.lastName %></a></li>
        <% } %>
    </ul>
    <a href="/users/add">Add a new user</a>
</body>
</html>