
/* button.navigate > a {
    text-decoration: none;
    color : white;
} */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.card small {
    text-decoration: none;
    color : white;
}

.right {
    justify-content: right;
}

.m-1 {
    margin: 1px;
}

.m-3 {
    margin: 10px;
}