<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="/picocss/pico.jade.min.css">
<link rel="stylesheet" href="/picocss/pico.colors.min.css">
<link rel="stylesheet" href="/flexboxgrid/flexboxgrid.min.css">
<link rel="stylesheet" href="https://www.nerdfonts.com/assets/css/webfont.css">
<link rel="stylesheet" href="/styles.css">