<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../common/head'); %>
</head>

<body class="container">
    <h2>Add new recipe:</h2>
    <div class="row">
        <form class="col-xs-12 col-md-6" action="/recipes" method="post">
            <div class="errors">
                <% if(!!locals.errors) { %>
                    <% for(const [key, value] of Object.entries(errors)) { %>
                        <p class="error"><%= value %></p>
                    <% } %>
                <% } %>
            </div>
            <fieldset>
                <label for="name">Name</label>
                <input type="text" name="name" id="name" value="<%= locals.recipe?.name? recipe.name : '' %>">
            </fieldset>
            <fieldset>
                <label for="description">Description</label>
                <input type="text" name="description" id="description">
            </fieldset>
            <input type="submit" value="Add recipe">
        </form>
    </div>
    <a href="/" class="return">Go back</a>
</body>

</html>