<!DOCTYPE html>
<html lang="fr">

<head>
    <%- include('../common/head'); %>
        <title>Recipes</title>
</head>

<body class="container">
    <main>

        <h1 class="m-3">Recipes:</h1>
        <form class="row col-md-offset-2 col-md-8" action="/recipes/search" method="post">
            <fieldset role="search">
                <input type="search" name="search" value="<%= locals.search %>" placeholder="Tiramisu, Poulet Basquaise..."
                    aria-label="Search terms" />
                <input type="submit" value="Search" />
            </fieldset>
        </form>
        <section class="row">
            <% if(!!locals.search){ %>
                <em>
                    results for search "<%= search %>"...
                </em>
            <% } %>
        </section>
        <section>
            <div class="row">

                <% for(const [idx,recipe] of recipes.entries()) { %>
                    <a class="col-xs-12 col-sm-6  col-md-4 col-lg-3" href="/recipes/<%= recipe._id %>">
                        <article class="card">
                            <header>
                                <%= recipe.name %>
                            </header>
                            <main style="height: 55px;">
                                <small>
                                    <%= recipe.description %>
                                </small>
                            </main>
                            <footer class="flex right">
                                <small>
                                    <span class="m-1 ">
                                        <i class="nf nf-fa-heart"></i>
                                    </span>
                                    <span class="m-1">
                                        <%= recipe.likes %>
                                    </span>
                                </small>
                            </footer>
                        </article>
                    </a>
                    <% } %>
            </div>
        </section>
        <a href="/recipes/showAddRecipe">Add a new recipe</a>
    </main>
</body>

</html>